*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    color: black;
    background-color: white;
}

a{
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    counter-reset: #1b1b1b;
}

main{
    padding: 1rem;
}

.projects{
    display: flex;
    flex-direction: column;
}

.project-link{
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    margin-top: 5px;
}

